* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: Arial, sans-serif; 
}
#cabecalho-principal {
    background-color: #053808; 
    color: white;
    padding: 30px;
    text-align: center;
}

.link-nav {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}


.link-nav:hover {
    color: #338a38;
    text-decoration: underline;
}

.lista-noticias {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.card-noticia {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: 0.3s; 
}


.card-noticia:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #f9f9f9;
}


.card-noticia img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}


.card-noticia h2 {
    color: #57ff5f; 
    font-size: 22px;
    margin: 10px 0;
}

.card-noticia p {
    color: #666; 
    font-size: 14px;
}