
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

*:focus {
  outline: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  background-color: #4172a4;
  color: rgb(255, 255, 255);
  padding: 20px;
  align-items: center;
}

.banner-hero {
  background-color: #3e90ce;
  padding: 60px 20px;
  text-align: center;
}

.menu-container {
  padding: 40px 5%;
}

input[type="radio"] {
  display: none;
}

label {
  padding: 10px 30px;
  background-color: #eee;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

input:checked + label {
  background-color: #e67e22;
  color: white;
}

.aba-tela {
  display: block;
}
#massa:checked ~ #tela-massas {
  display: block;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.card img {
  width: 100%;
  height: 150px;
}

.preco {
  display: block;
  margin: 10px 0;
  color: #e67e22;
  font-weight: bold;
}

.btn-pedir {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.rodape {
  background-color: #255482;
  color: white;
  padding: 30px;
  text-align: center;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
